<!-- templates/purpose.html -->
{% extends 'base.html' %}
{% block title %}Why are we doing this project?{% endblock %}
{% block content %}

<body>
    <h1>Mission</h1>
    <p>This is a 4 part program</p>
    <p>1. Investigate my hypothesis on demographic interest in the earthshot prize.</p>
    <p>2. Conduct time series analysis on the effect of marketing on social platforms.</p>
    <p>3. Create an openly available platform for individuals to stand as candidates in elections</p>
    <p>4. Generate insights on consumer preferences for larger organisations.</p>
</body>
{% endblock %}



