<!-- templates/purpose.html -->
{% extends 'base.html' %}
{% block title %}Why are we doing this project?{% endblock %}
{% block content %}

<body>
    <h1>Our Mission</h1>
    <p>This is a 4 part program</p>
    <p>1. Generate a dataset to demonstrate how social media marketing generates traction with audiences</p>
    <p>2. Present statistical analyses of marketing traction</p>
    <p>3. Create an openly available platform for individuals to stand as candidates in elections</p>
    <p>4. Generate insights on consumer preferences for organisation customer research</p>
</body>
{% endblock %}



