<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie Chart of Votes</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% load static %}
    <script src="{% static 'polls/js/chart.js' %}"></script> 
</head>
<body style="background-color: white; color: green;">

    <canvas id="votesPieChart" width="400" height="400"></canvas>

    <script>
        // Labels = Choice_text
        const labels = [
            {% for choice in question.choice_set.all %}
                "{{ choice.choice_text }}",
            {% endfor %}
        ];
        // Data = Choice votes currently
        const data = [
            {% for choice in question.choice_set.all %}
                {{ choice.votes }},
            {% endfor %}
        ];

        // Call the function from the external JS file to create the pie chart
        createPieChart(labels, data);
    </script>

</body>
</html>
