{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Vote{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if user_has_voted %}
        <p>You have already voted on this question.</p>
    {% else %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div>
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                
                <select onchange="this.nextElementSibling.style.display = this.value === 'hide' ? 'block' : 'none'">
                    <option value="show">Hide Manifesto and additional information.</option>
                    <option value="hide">Show Manifesto and additional information.</option>
                    
                </select>
                
                <div style="display: none;">
                    <table>
                        <thead>
                            <tr>
                                <th>Detail</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Manifesto</td>
                                <td>{{ choice.manifesto_text }}</td>
                            </tr>
                            <tr>
                                <td>Sentiment</td>
                                <td>{{ choice.sentiment }}</td>
                            </tr>
                            <tr>
                                <td>Subjectivity</td>
                                <td>{{ choice.subjectivity }}</td>
                            </tr>
                            <tr>
                                <td>Key Words</td>
                                <td>{{ choice.keywords|extract_keywords }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
        <button type="submit">Vote</button>
    </form>
    {% endif %}
{% else %}
    <p>You need to <a href="{% url 'login' %}">login</a> to vote.</p>
{% endif %}
{% endblock %}


