h1 {
    color: green;
}
li a {
    color: green;
}
body {
    background: white url("../img/wdemo_img.jpg") no-repeat; /* Adjusted the path */
    background-size: cover; /* Optional: Makes sure the image covers the entire background */
}