{% extends 'base.html' %}
{% block title %}Polls{% endblock %}
{% block content %}
<h1>Currently Open Polls</h1>
<p>Click a poll below to create a new party</p>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
            {% if question in orgquestions %}
    <li><a href="{% url 'ChoiceMaker:makechoice' question.id %}">{{ question.question_text }}</a></li>
            {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body style="background-color: white; color: blue;">
</body>
{% endblock %}